/* PinnedSubheaderList.css */
.root {
    display: flex;
    justify-content: center; /* Position children with space between */
    align-items: center; /* Align items vertically */
    height: 100vh;
    padding: 0 40px; /* Add padding between list and card */
}

.box {
    width: 40%; /* Set the initial width of the box */
    height: 80vh; /* Set the initial width of the box */
    max-width: calc(60% - 80px); /* Set the maximum width of the box */
    background-color: #f0f0f0; /* Background color */
    border: 2px solid #ccc; /* Border */
    border-radius: 8px; /* Border radius for rounded corners */
    overflow: hidden; /* Hide the scrollbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.3s ease; /* Animate the transform property */
}

.list {
    position: relative;
    overflow-y: auto;
    height: 80vh;
    width: 800px;
}

.list::-webkit-scrollbar {
    display: none; /* hide the scrollbar */
}

.detail-card {
    position: absolute;
    top: 0;
    right: -300px; /* Initially off-screen to the right */
    width: 300px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    transition: right 0.3s ease; /* animate the right property */
}

.detail-card.active {
    right: 40px; /* Slide the card into view on the right with padding */
}
